/* General styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0A192F; /* Fondo oscuro */
    color: #D4DEFE; /* Color claro para el texto */
}

.header {
    text-align: center;
    padding: 20px;
    color: #D4DEFE; /* Texto blanco claro */
}

.navigation {
    display: flex;
    justify-content: center;
    background-color: #0A192F; /* Fondo oscuro */
    padding: 10px;
    border-bottom: 2px solid #3C998F; /* Detalle de línea */
}

.nav-button {
    background-color: #3C998F; /* Verde animación */
    color: #D4DEFE; /* Texto claro */
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-button:hover {
    background-color: #0A192F; /* Azul oscuro */
    color: #3C998F; /* Verde animación */
    transform: scale(1.05); /* Efecto de ampliación */
}

.content {
    padding: 20px;
}

section {
    margin-bottom: 50px;
    padding: 20px;
    background-color: #112240; /* Claro derivado de #0A192F */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sutil sombra */
}

section h2 {
    margin-top: 0;
    color: #3C998F; /* Verde animación */
    border-bottom: 2px solid #D4DEFE; /* Línea decorativa */
    padding-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    color: #D4DEFE; /* Texto claro */
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #3C998F; /* Verde animación */
    border-radius: 5px;
    background-color: #0A192F; /* Fondo oscuro */
    color: #D4DEFE; /* Texto claro */
    transition: border-color 0.3s ease;
}

form input:focus, form textarea:focus {
    border-color: #D4DEFE; /* Borde claro al enfocarse */
    outline: none;
}

form button {
    background-color: #3C998F; /* Verde animación */
    color: #0A192F; /* Texto oscuro */
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
    background-color: #0A192F; /* Texto claro */
    color: #3C998F; /* Texto oscuro */
    transform: scale(1.01); /* Efecto de ampliación */
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #112240; /* Azul claro derivado */
    color: #D4DEFE; /* Texto claro */
    border-top: 2px solid #3C998F; /* Detalle */
}
